<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 id="booknow-header-view" class="modal-title"></h3>
  </div>
  <div class="modal-body">
    <form id="confirm-book-now">
      <div class="row">
          <div class="col-xs-12 mt20">
            <div class="form-group ">
              <input type="text" class="form-control" id="inputName" placeholder="Name*">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email*">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="inputPhone" placeholder="Phone*">
            </div>
            <div class="form-group">
               <button type="submit" id="Confirm" class="btn btn-primary btn-block">Confirm Booking</button>
            </div>
          </div>
          <div class="col-xs-12 mt10">
              <h4>*Please bring your valid id card for verification purpose</h4>
          </div>
      </div>
    </form>
  </div>
  
  
  <div class="showconfirmid" id="confirm-booking" style="display:none;">
     <div class="row">
     <div class="col-xs-12 mt30">
     <h1>Thank You for your Booking.</h1>
    <div id="bookingid"><h2>Your Booking ID is : <p id="book"></p></h2></div>
    </div>
    <div class="col-xs-12 mt50"></div>
    </div>
    </div>
    
    
    
</div><!-- /.modal-content -->


    
<script>
$(document).ready(function(){
    $("#Confirm").click(function(){
        $(".modal-body").hide();
		 $("#confirm-booking").show();
    });   
});
</script>
