<div class="row">
      <div class="col-md-4 col-sm-3">
        <h4>About FreshUp</h4>
        <p>Posh as a hotel, budget friendly as hostel - FreshUp is by far the best located poshtel delivering the best home-away-from-home services at pocket friendly prices. At FreshUp, top-notch services by well-trained personnel combines with modern architecture and facilities to give you an unforgettable stay.<br>
           </p>
      </div>      
      <div class="col-md-4 col-sm-3">
        <h4>From our blog</h4>
        <ul>
          <li><a href="#">Places to visit Hyderabad<br>
            December 19, 2016</a></li>
          <li><a href="#">How to Pack for Travel?<br>
            December 15, 2016</a></li>
          <li><a href="#">What is inside the Bag?<br>
            December 11, 2016</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-3">
        <h4>Address</h4>
        <address>
        <strong>Sri Krishna Commercial,</strong><br>
        H.No.2-60/A/1,1st Floor,<br>
        Plot no.7, Gacchibowli village,<br>
        Serilingampally mandal,<br>
        Ranga Reddy Dist, Hyderabad - 500032,<br>
        Telangana state.<br>
        <abbr title="Phone">P:</abbr> <a href="#">044-65652121</a><br>
        <abbr title="Email">E:</abbr> <a href="#">support@freshup.space</a><br>
        <abbr title="Website">W:</abbr> <a href="#">www.freshup.space</a><br>
        </address>
      </div>
    </div>
