<div class="row">
  <div class="col-md-4 col-sm-3">
    <h4>About FreshUp</h4>
    <p>By far the best located poshtel giving the best home away services. The service offered is top-notch. The design of the Poshtel is smart and trendy. The service personnel are well trained to give you a pleasing and social stay while you stay with them.<br>
       </p>
  </div>
  <!--<div class="col-md-3 col-sm-3">
    <h4>Recieve our newsletter</h4>
    <p>Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpa!</p>
    <form role="form">
      <div class="form-group">
        <input name="newsletter" type="text" id="newsletter" value="" class="form-control" placeholder="Please enter your E-mailaddress">
      </div>
      <button type="submit" class="btn btn-lg btn-black btn-block">Submit</button>
    </form>
  </div>-->
  <div class="col-md-4 col-sm-3">
    <h4>From our blog</h4>
    <ul>
      <li><a href="#">Places to visit Hyderabad<br>
        December 19, 2016</a></li>
      <li><a href="#">How to Pack for Travel?<br>
        December 15, 2016</a></li>
      <li><a href="#">What is inside the Bag?<br>
        December 11, 2016</a></li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-3">
    <h4>Address</h4>
    <address>
    <strong>FreshUp</strong><br>
    92, Raj paris Apartments,<br>
    San Francisco, chennai 600107<br>
    <abbr title="Phone">P:</abbr> <a href="#">(044) 456-7890</a><br>
    <abbr title="Email">E:</abbr> <a href="#">info@fresh.com</a><br>
    <abbr title="Website">W:</abbr> <a href="#">www.frshup.com</a><br>
    </address>
  </div>
</div>
