<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h2 class="lined-heading"><span>Our Prices</span></h2>
  </div>
  <div id="price-table">
    <table class="table response">
      <thead>
        <tr>
          <th>Type</th>
          <th>2 Hrs</th>
          <th>4 Hrs</th>
          <th>6 Hrs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lounge Sofa</td>
          <td>Rs.400/- + taxes</td>
          <td>Rs.600/- + taxes</td>
          <td>Rs.800/- + taxes</td>
        </tr>
        <tr>
          <td>Recliner</td>
          <td>Rs.500/- + taxes</td>
          <td>Rs.700/- + taxes</td>
          <td>Rs.900/- + taxes</td>
        </tr>
        <tr>
          <td>Bunker Beds</td>
          <td>-na-</td>
          <td>Rs.700/- + taxes</td>
          <td>Rs.950/- + taxes</td>
        </tr>
        <tr>
          <td>Beds</td>
          <td>-na-</td>
          <td>Rs.800/- + taxes</td>
          <td>Rs.950/- + taxes</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
 </div>
