<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h2 class="lined-heading"><span>Our Prices</span></h2>
  </div>
  <div id="price-table">
    <table class="table response">
      <thead>
        <tr>
          <th>Type</th>
          <th>Starting Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lounge Sofa</td>
          <td>Rs.399<sup>*</sup>/-</td>
        </tr>
        <tr>
          <td>Recliner</td>
          <td>Rs.499<sup>*</sup>/-</td>
        </tr>
        <tr>
          <td>Bunker Beds</td>
          <td>Rs.699<sup>*</sup>/-</td>
        </tr>
        <tr>
          <td>Beds</td>
          <td>Rs.799<sup>*</sup>/-</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            * Additional taxes applicable
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
 </div>
 </div>
