<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="lined-heading"><span>Our Services</span></h2>
    </div>

   <div class="col-sm-4 bounceIn appear" data-start="0">
    <div class="box-icon">
      <div align="center"><img src="images/icon/travel-consumables.png" alt="travel-consumables" class="img-responsive" /></div>
      <h3>Travel Consumables</h3>
      <p>Toiletries and a dental kit are available and billed on actuals.</p>
      </div>
      </div>

    <div class="col-sm-4 bounceIn appear" data-start="200">
    <div class="box-icon">
      <div align="center"><img src="images/icon/Snacks-Beverages.png" alt="Snacks-Beverages" class="img-responsive" /></div>
      <h3>Snacks & Beverages</h3>
      <p>All major items are available with us. </p>
      </div>
      </div>

    <div class="col-sm-4 bounceIn appear" data-start="400">
    <div class="box-icon">
      <div align="center"><img src="images/icon/Mini-Business-Centre.png" alt="Mini-Business-Centre" class="img-responsive" /></div>
      <h3>Mini Business Centre</h3>
      <p>You can call over your clients for a quick meeting.  </p>
       </div>
      </div>

  </div>
</div>
