<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="lined-heading"><span>Our Services</span></h2>
      </div>

     <div class="col-sm-4 bounceIn" data-start="0">
      <div class="box-icon">
        <div align="center"><img src="images/icon/travel-consumables.png" alt="travel-consumables" class="img-responsive" /></div>
        <h3>Toiletries</h3>
        <p>Toiletries and dental kits available.</p>
        </div>
        </div>

      <div class="col-sm-4 bounceIn" data-start="200">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Snacks-Beverages.png" alt="Snacks-Beverages" class="img-responsive" /></div>
        <h3>Café</h3>
        <p>Quick bites and drinks to keep you energized</p>
        </div>
        </div>

      <div class="col-sm-4 bounceIn" data-start="400">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Mini-Business-Centre.png" alt="Mini-Business-Centre" class="img-responsive" /></div>
        <h3>Mini Business Centre</h3>
        <p>Organize small business meetings with clients or partners</p>
         </div>
        </div>
    </div>
  </div>

<section class="usp mt50">
  <div class="container">
    <div class="row">
        <div class="col-sm-4" data-start="0">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Cloak-Room.png" alt="Cloak-Room" class="img-responsive" /></div>
        <h3>Luggage Drop</h3>
        <p>Leave your baggage with us when you step out </p>
        </div>
    </div>
    <div class="col-sm-4" data-start="200">
      <div class="box-icon">
        <div align="center"><img src="images/icon/wifi.png" alt="wifi" class="img-responsive" /></div>
        <h3>Wifi</h3>
        <p>Connect while you relax</p>
         </div>
    </div>
    <div class="col-sm-4" data-start="400">
      <div class="box-icon">
        <div align="center"><img src="images/icon/utilities.png" alt="utilities" class="img-responsive" /></div>
        <h3>Utilities</h3>
        <p>Round the clock hot water and uninterrupted power supply at your service</p>
         </div>
    </div>
    </div>
  </div>
</section>