<div class="container">
  <div class="row">
      <div class="col-sm-4 bounceIn" data-start="0">
    <div class="box-icon">
      <div align="center"><img src="images/icon/Cloak-Room.png" alt="Cloak-Room" class="img-responsive" /></div>
      <h3>Cloak Room</h3>
      <p>Leave your baggage with us when you step out for your meeting. </p>
      </div>
  </div>
  <div class="col-sm-4 bounceIn" data-start="200">
    <div class="box-icon">
      <div align="center"><img src="images/icon/Ironing.png" alt="Ironing" class="img-responsive" /></div>
      <h3>Ironing</h3>
      <p>Your clothes can be crisply ironed for that sharp business look.</p>
       </div>
  </div>
  <div class="col-sm-4 bounceIn" data-start="400">
    <div class="box-icon">
      <div align="center"><img src="images/icon/Locker.png" alt="Locker" class="img-responsive" /></div>
      <h3>Locker</h3>
      <p>Your belongings will be under lock and key for a nominal charge.</p>
       </div>
  </div>





  </div>
</div>
