<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="lined-heading"><span>Relax and Recline at FreshUp</span></h2>
        <h3 class="freshupmedtext">FreshUp offers you various modes of freshening up. You can choose a lounge Chair, lounge recliner, flat bed or a bunker bed.</h3>
      </div>



      <!-- Room -->
      <div class="col-sm-6">
        <div class="room-thumb"> <img src="images/rooms/lounge-chair.png" alt="Lounge Chair" class="img-responsive" />
          <div class="mask">
            <div class="main">
              <h5>Wing Chair</h5>
              <div class="price">&#43;</div>
              <!--<div class="price">&#8377; 399<sup>*</sup>/-<span>a hour</span></div>-->
            </div>
            <div class="content">
              <p>FreshUp Wing Chairs to chill out and unwind yourself after a tiring day. So comfy, you’ll just not want to leave them.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Room -->
      <div class="col-sm-6">
        <div class="room-thumb"> <img src="images/rooms/Recliner.png" alt="Lounge Recliner" class="img-responsive" />
          <div class="mask">
            <div class="main">
              <h5>Recliner</h5>
              <div class="price"> &#43; </div>
            </div>
            <div class="content">
              <p>Rest your back and legs or curl up to a sound sleep in the ergonomically designed FreshUp Recliners. Or simply listen to music and finish off an important task – the recliner is all yours.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<section class="rooms mt50">
  <div class="container">
    <div class="row">

      <!-- Room -->
      <div class="col-sm-6">
        <div class="room-thumb"> <img src="images/rooms/flat-bed.png" alt="Flat Bed" class="img-responsive" />
          <div class="mask">
            <div class="main">
              <h5>Chaise Lounge</h5>
              <div class="price">&#43;</div>
            </div>
            <div class="content">
              <p>Get complete back rest with FreshUp Chaise Lounge. These are single beds with a comfortable mattress so that you wake up all refreshed and recharged.</p>

            </div>
          </div>
        </div>
      </div>

      <!-- Room -->
      <div class="col-sm-6">
        <div class="room-thumb"> <img src="images/rooms/Bunker-Bed.png" alt="Bunker Bed" class="img-responsive" />
          <div class="mask">
            <div class="main">
              <h5>Bunker Bed</h5>
              <div class="price">&#43;</div>
            </div>
            <div class="content">
              <p>More of a social person? Share a room with co-travelers or other guests while enjoying all the facilities of our Poshtel. The more, the merrier!</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
