<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="lined-heading"><span>Our Services</span></h2>
      </div>

     <div class="col-sm-4 bounceIn" data-start="0">
      <div class="box-icon">
        <div align="center"><img src="images/icon/travel-consumables.png" alt="travel-consumables" class="img-responsive" /></div>
        <h3>Travel Consumables</h3>
        <p>Toiletries and dental kits available for purchase</p>
        </div>
        </div>

      <div class="col-sm-4 bounceIn" data-start="200">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Snacks-Beverages.png" alt="Snacks-Beverages" class="img-responsive" /></div>
        <h3>Snacks & Beverages</h3>
        <p>Quick bites and drinks to keep you energized</p>
        </div>
        </div>

      <div class="col-sm-4 bounceIn" data-start="400">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Mini-Business-Centre.png" alt="Mini-Business-Centre" class="img-responsive" /></div>
        <h3>Mini Business Centre</h3>
        <p>Organize small business meetings with clients or partners</p>
         </div>
        </div>
    </div>
  </div>

<section class="usp mt50">
  <div class="container">
    <div class="row">
        <div class="col-sm-4" data-start="0">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Cloak-Room.png" alt="Cloak-Room" class="img-responsive" /></div>
        <h3>Cloak Room</h3>
        <p>Leave your baggage with us when you step out </p>
        </div>
    </div>
    <div class="col-sm-4" data-start="200">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Ironing.png" alt="Ironing" class="img-responsive" /></div>
        <h3>Steaming</h3>
        <p>Get perfectly ironed clothes for a sharp look for travel or business</p>
         </div>
    </div>
    <div class="col-sm-4" data-start="400">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Locker.png" alt="Locker" class="img-responsive" /></div>
        <h3>Locker</h3>
        <p>Safekeeping services for a lighter traveling experience</p>
         </div>
    </div>
    </div>
  </div>
</section>