<div class="container">
    <div class="row">
        <div class="col-sm-4" data-start="0">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Cloak-Room.png" alt="Cloak-Room" class="img-responsive" /></div>
        <h3>Cloak Room</h3>
        <p>Leave your baggage with us when you step out </p>
        </div>
    </div>
    <div class="col-sm-4" data-start="200">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Ironing.png" alt="Ironing" class="img-responsive" /></div>
        <h3>Steaming</h3>
        <p>Get perfectly ironed clothes for a sharp look for travel or business</p>
         </div>
    </div>
    <div class="col-sm-4" data-start="400">
      <div class="box-icon">
        <div align="center"><img src="images/icon/Locker.png" alt="Locker" class="img-responsive" /></div>
        <h3>Locker</h3>
        <p>Safekeeping services for a lighter traveling experience</p>
         </div>
    </div>
    </div>
  </div>