<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="lined-heading"><span>Relax and Recline at FreshUp</span></h2>
      <h3 class="freshupmedtext">FreshUp offers you various modes of freshening up. You can choose a single bed, recliner or a dormitory.</h3>
    </div>
    <!-- Room -->
    <div class="col-sm-4">
      <div class="room-thumb"> <img src="images/rooms/single-bed.png" alt="Single Bed" class="img-responsive" />
        <div class="mask">
          <div class="main">
            <h5>Single Bed</h5>
            <div class="price">&#8377; 249/-<span>a night</span></div>
          </div>
          <div class="content">
            <p>Single beds are smaller beds but they offer the same comfort as bigger once. If you just want to rest for sometime say for 4 hours you can have this facility. This will help you to freshen yourself before a client meeting or a business meet.</p>

          </div>
        </div>
      </div>
    </div>
    <!-- Room -->
    <div class="col-sm-4">
      <div class="room-thumb"> <img src="images/rooms/Recliner.png" alt="Recliner" class="img-responsive" />
        <div class="mask">
          <div class="main">
            <h5>Recliner </h5>
            <div class="price">&#8377; 149<span>a night</span></div>
          </div>
          <div class="content">
            <p>It offers you the facility to rest in a recliner. You can seat and rest by means of this. You can rest your back and legs if you are tiered after a long walk. You can also relax and do some important work that you have to do. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Room -->
    <div class="col-sm-4">
      <div class="room-thumb"> <img src="images/rooms/Dormitory.png" alt="Dormitory" class="img-responsive" />
        <div class="mask">
          <div class="main">
            <h5>Dormitory</h5>
            <div class="price">&#8377; 99<span>a night</span></div>
          </div>
          <div class="content">
            <p>FreshUp has the facility of dormitory too. You can share the room with your co traveler or other guest. It gives you the chance in a more proper manner. You get all the other facilities that the Poshtel offers. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
